@import url("https://fonts.googleapis.com/css2?family=Charmonman&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Charmonman&family=Montserrat:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  /* font-family: sans-serif;*/
  box-sizing: border-box;
}

header {
  height: 30px;
  background-color: #000000;
}

.logo {
  width: 100px;
  z-index: 7;
  border-radius: 90px;
  box-shadow: 0px 0px 10px #ff69b4;
}

.encabezado {
  width: 100%;
  background: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 20px;
  z-index: 6;
  box-shadow: 0px 0px 10px #ff69b4;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.lista {
  display: flex;
  justify-content: space-between;
  text-align: left;
  padding: 20px;
}

.item {
  padding: 20px 30px;
  color: #ffc0cb;
  font-family: "Montserrat", sans-serif;
}

.item:hover {
  background: #ff69b4;
  border-bottom: solid #ff69b4 1px;
  box-shadow: 0px 0px 20px #ff69b4;
  border-radius: 30px;
  text-decoration: none;
  color: #ffc0cb;
  visibility: visible;
  transition: all 0.5s;
}

.slide a {
  text-decoration: none;
}

.listItem {
  position: relative;
}

.slide {
  position: absolute;
  display: none;
  top: 40px;
  background: #000000;
  width: 200px;
  z-index: 5;
  border-radius: 30px;
  transition: all 2s easy-out;
}

.listItem:hover > .slide {
  display: block;
}

.listItem .slide li:hover > ul {
  display: block;
}

.slide li {
  position: relative;
}

.slide ul {
  position: absolute;
  left: 200px;
  top: 0;
}

.slide li a {
  color: pink;
  padding: 10px 20px;
  display: block;
  font-family: "Montserrat", sans-serif;
}

.slide li a:hover {
  background: #ff69b4;
  box-shadow: 0px 0px 20px #ff69b4;
  border-radius: 30px;
  transition: all 0.5s;
}

#boton {
  background: none;
  border: none;
  font-size: 24px;
  color: pink;
  cursor: pointer;
  display: none;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ff69b4;
  padding: 5px 10px 5px 10px;
}

@media screen and (max-width: 850px) {
  #boton {
    display: block;
  }

  .menu {
    width: 100%;
    /**height: calc(100vh - 60px);**/
    height: auto;
    background: black;
    position: absolute;
    top: 125px;
    left: -200%;
    transition: all 1s;
    /**overflow: scroll;**/
    z-index: 4;
  }

  .lista {
    flex-direction: column;
  }

  .slide {
    position: relative;
    top: 0;
    display: none;
    width: 100%;
  }

  .slide ul {
    position: relative;
    top: 0;
    left: 0;
  }

  /**a{
      display: block;
      padding: 20px 35px;
  }**/
  .inResponsiveMain {
    display: block;
    padding: 20px 35px;
  }

  .listItem > .slide li a {
    margin-left: 20px;
  }

  .listItem .slide li > ul li a {
    margin-left: 40px;
  }

  .listItem:hover > .slide {
    /*display: none;*/
    visibility: visible;
  }

  .listItem .slide li:hover > ul {
    display: none;
  }
}
@media screen and (max-width: 380px) {
  .menu {
    width: 100%;
  }
}
/*************************MAIN INICIO******************************/
.mainIndex {
  /* border:  10px solid red;*/
  background-color: #000000;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.rostroMujer {
  width: 75em;
  height: 56.25em;
  max-width: 100%;
  height: auto;
  z-index: 1;
  margin-top: 15px;
}

.slogan {
  top: 6em;
  position: absolute;
  color: #ffc0cb;
  z-index: 5;
  right: 2em;
  font-size: 1.9em;
  border: none;
  background: none;
  z-index: 2;
  font-family: "Charmonman", cursive;
  animation-name: deslizar;
  animation-duration: 4s;
}

@keyframes deslizar {
  from {
    margin-right: 100%;
    width: 355px;
  }
  to {
    margin-left: 100%;
    width: 355px;
  }
}
@media screen and (max-width: 1024px) {
  .slogan {
    top: 130px;
    position: absolute;
    color: #ffc0cb;
    z-index: 5;
    right: 10px;
    font-size: 20px;
    border: none;
    background: none;
    z-index: 2;
    font-family: "Charmonman", cursive;
    animation-name: deslizar;
    animation-duration: 0s;
  }
}
@media screen and (max-width: 480px) {
  .slogan {
    top: 123px;
    position: absolute;
    color: #ffc0cb;
    z-index: 5;
    right: 5px;
    font-size: 15px;
    border: none;
    background: none;
    z-index: 2;
    font-family: "Charmonman", cursive;
    animation-name: deslizar;
    animation-duration: 0s;
  }
}
/************************MAIN SERVICIOS********************************/
.mainServicios {
  background-color: #000000;
  width: auto;
  height: auto;
}

.tituloSeccion {
  width: auto;
  height: 60px;
  text-align: center;
  color: #ffc0cb;
  padding: 20px 6px 6px 6px;
}

.mainServicios h2 {
  font-size: 20px bold;
  position: relative;
  max-width: 600px;
  padding: 0px 0px 30px 0px;
  height: auto;
  color: #ffc0cb;
}

.mainServicios h3 {
  padding: 10px;
  background-color: #ffd3de;
  border: 0px solid #ffffff;
  border-top-right-radius: 20px;
  max-width: 600px;
  font-family: "Montserrat", sans-serif;
  position: relative;
  height: auto;
  background-image: linear-gradient(to bottom, #ff69b4, #ffc0cb, #ffd3de, #ffc0cb, #ff69b4);
  width: 100%;
  box-shadow: 0px 0px 10px #ff69b4;
}

.mainServicios p {
  padding: 10px;
  position: relative;
  background-color: #ffd3de;
  border: 0px solid #ffffff;
  border-bottom-left-radius: 20px;
  max-width: 600px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 30px;
  background-image: linear-gradient(#ced4da, #dee2e6, #e9ecef 80%, #dee2e6, #ced4da);
  width: 100%;
  box-shadow: 0px 0px 10px #ff69b4;
}

.ladoDerServicios img {
  width: 27.44em;
  height: 18.25em;
  position: relative;
  top: 75px;
  margin-bottom: 90px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 0px 0px 10px #ff69b4;
}

.container .ladoDerServicios {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .ladoIzqServicios {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 992px) {
  .ladoDerServicios img {
    width: 600px;
    height: 360px;
    top: 10px;
    margin-bottom: 80px;
  }

  .mainServicios h2 {
    margin-top: 20px;
  }
}
/*******************MAIN GALERIA*******************************/
.mainGaleria {
  background-color: #000000;
  width: auto;
  height: auto;
}

.contenedorGaleria {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 150px;
  padding: 50px 100px 50px 100px;
  grid-gap: 40px;
}

.imagenGaleria {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  /*border: 2px solid hotpink;*/
  border-radius: 30px 0px 30px 0px;
  box-shadow: 0px 0px 30px #ff69b4;
}

.ItemGaleria:nth-child(1) {
  grid-row-start: span 3;
}

.ItemGaleria:nth-child(2) {
  grid-row-start: span 2;
}

.ItemGaleria:nth-child(3) {
  grid-row-start: span 3;
}

.ItemGaleria:nth-child(4) {
  grid-row-start: span 2;
}

.ItemGaleria:nth-child(5) {
  grid-row-start: span 3;
}

.ItemGaleria:nth-child(6) {
  grid-row-start: span 3;
}

.ItemGaleria:nth-child(7) {
  grid-row-start: span 2;
}

.ItemGaleria:nth-child(8) {
  grid-row-start: span 3;
}

.ItemGaleria:nth-child(9) {
  grid-row-start: span 3;
}

.ItemGaleria:nth-child(10) {
  grid-row-start: span 3;
}

.ItemGaleria:nth-child(11) {
  grid-row-start: span 3;
}

.ItemGaleria:nth-child(12) {
  grid-row-start: span 2;
}

.ItemGaleria {
  position: relative;
}

.ItemGaleria:hover {
  transform: scale(1.1);
  transition: all 0.75s;
}

.tituloImagen {
  position: absolute;
  bottom: 0px;
  color: #ffc0cb;
  background-color: #000000;
  width: 100%;
  margin: 0px;
  border-radius: 0px 0px 30px 0px;
  /*border: 2px solid hotpink;*/
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.ItemGaleria h4 {
  font-family: "Montserrat", sans-serif;
}

@media only screen and (max-width: 1024px) {
  .contenedorGaleria {
    padding: 50px 50px 50px 50px;
  }

  .contenedorGaleria {
    grid-template-columns: repeat(3, 1fr);
  }

  .ItemGaleria:nth-child(2) {
    grid-row-start: span 3;
  }

  .ItemGaleria:nth-child(3) {
    grid-row-start: span 3;
  }

  .ItemGaleria:nth-child(11) {
    grid-column-start: span 2;
    grid-row-start: span 3;
  }
}
@media only screen and (max-width: 768px) {
  .contenedorGaleria {
    grid-template-columns: repeat(2, 1fr);
  }

  .ItemGaleria:nth-child(11) {
    grid-column-start: span 1;
    grid-row-start: span 4;
  }
}
@media only screen and (max-width: 600px) {
  .contenedorGaleria {
    padding: 50px 40px 50px 40px;
  }

  .contenedorGaleria {
    grid-template-columns: repeat(1, 1fr);
  }
}
/*****************MAIN SOBRE MI***********************/
.mainSobreMi {
  background-color: #000000;
  width: auto;
  height: auto;
  padding-bottom: 20px;
}

.containerSobreMi {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  margin-top: 50px;
  padding: 60px;
  border: 2px solid #ff69b4;
  box-shadow: 0px 0px 10px #ff69b4;
  border-radius: 0px 20px 0px 20px;
}

.containerSobreMi img {
  width: 330px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.containerSobreMi p {
  font-family: "Montserrat" sans-serif;
  color: #ffc0cb;
  text-align: justify;
}

/*******************MAIN CONTACTO**************************/
.mainContacto {
  width: auto;
  height: auto;
  background-color: #000000;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainContacto h1 {
  padding-bottom: 20px;
  color: #ffc0cb;
}

.mainContacto p {
  padding-bottom: 10px;
  padding-top: 10px;
  color: #ffc0cb;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.formularioDeContacto {
  color: #ffc0cb;
  padding: 20px;
  width: 330px;
  border-radius: 10px;
  border: 2px solid #ff69b4;
  box-shadow: 10px 10px 10px #ff69b4;
}

.formularioDeContacto legend {
  text-align: center;
}

.formularioDeContacto label {
  font-family: "Montserrat", sans-serif;
}

.formularioDeContacto option {
  font-family: "Montserrat", sans-serif;
}

.formularioDeContacto select {
  font-family: "Montserrat", sans-serif;
}

input {
  transition: all 1s;
  width: 100%;
  border: 3px solid #ffc0cb;
  font-family: "Montserrat", sans-serif;
}

.campoFormulario:focus {
  border: 3px solid #ffc0cb;
  color: #000000;
  transform: scale(1.1);
}

select {
  border: 3px solid #ffc0cb;
  width: 100%;
}

textarea {
  width: 100%;
  border: 3px solid #ffc0cb;
  color: #000000;
  font-family: "Montserrat", sans-serif;
}

.botonEnviar {
  background: #ffc0cb;
  width: 30%;
  font-family: "Montserrat", sans-serif;
}

.botonBorrar {
  background: #ffc0cb;
  color: #000000;
  width: 30%;
  font-family: "Montserrat", sans-serif;
}

.datosContacto pre {
  padding-top: 40px;
  text-align: center;
}

.pieDeContacto {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
}

.pie {
  height: auto;
  width: 100%;
  background-color: #000000;
  font-family: "Montserrat", sans-serif;
  color: #ffc0cb;
  z-index: 3;
  text-align: center;
  padding: 1em 0px 2em 0px;
  /*border:  10px solid green;*/
}

.direccion {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 1.25em;
  color: #ffc0cb;
}

.iconoLocacion {
  position: relative;
  margin-left: 22em;
  top: 1.2em;
}

.pie a {
  color: #ffc0cb;
  font-family: "Montserrat", sans-serif;
}

.pie .copyright {
  margin-top: 1.25em;
  font-family: "Montserrat", sans-serif;
}

i {
  size: 15px;
  color: #ffc0cb;
}

/*# sourceMappingURL=estilos.css.map */
