* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

<<<<<<< HEAD
=======
body{
    background-color: $black;
}
>>>>>>> 3a51b50f2f2b7240b2453e1f091cf812d905b211

@import url('https://fonts.googleapis.com/css2?family=Charmonman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charmonman&family=Montserrat:wght@500&display=swap');
@import "general/header";
@import "general/nav";
@import "layout/main";
@import "general/footer";












