@import "variables";

.pieDeContacto{
    width: 100%;
    height: 200px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.pie {
    height: auto;
    width: 100%;
    background-color: $black;
    font-family: 'Montserrat', sans-serif;
    color: $pink;
    z-index: 3;
    text-align: center;
    padding: 1em 0px 2em 0px;
    /*border:  10px solid green;*/
}

.direccion{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 1.25em;
    color: $pink;
}

.iconoLocacion{
    position: relative;
    margin-left: 22em;
    top: 1.2em;
}

.pie {
    a{
    color: $pink;
    font-family: 'Montserrat', sans-serif;
    }
} 

.pie .copyright{
    margin-top: 1.25em;
    font-family: 'Montserrat', sans-serif;
}

i{
    size: 15px;
    color: $pink;
}
