@import "variables";

.logo{
    width: 100px;
    z-index: 7;
    border-radius: 90px;
    box-shadow: 0px 0px 10px $hotpink;
}

.encabezado{
    width: 100%;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 20px;
    z-index: 6;
    box-shadow: 0px 0px 10px $hotpink;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.lista{
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding: 20px;
}

.item{
    padding: 20px 30px;
    color: $pink;
    font-family: 'Montserrat', sans-serif;
}

.item:hover{
    background: $hotpink;
    border-bottom: solid $hotpink 1px;
    box-shadow: 0px 0px 20px $hotpink;
    border-radius: 30px;
    text-decoration: none;
    color: $pink;
    visibility: visible;
    transition: all 0.5s;
}

.slide a{
    text-decoration: none;
}

.listItem{
    position: relative;
}

.slide{
    position: absolute;
    display: none;
    top: 40px;
    background: $black;
    width: 200px;
    z-index: 5;
    border-radius: 30px;
    transition: all 2s easy-out;
}

.listItem:hover > .slide{
    display: block;

}

.listItem .slide li:hover > ul{
    display: block;
}

.slide li{
    position: relative;
}

.slide ul{
    position: absolute;
    left: 200px;
    top: 0;
}

.slide {
    li {
        a{
    color:pink;
    padding: 10px 20px;
    display: block;
    font-family: 'Montserrat', sans-serif;
        }
    }
}

.slide {
    li {
        a:hover{
    background: $hotpink;
    box-shadow: 0px 0px 20px $hotpink;
    border-radius: 30px;
    transition: all 0.5s;
        }
    }
}

#boton{
    background: none;
    border: none;
    font-size: 24px;
    color: pink;
    cursor: pointer;
    display: none;
    border-radius: 10px;
    box-shadow: 0px 0px 10px $hotpink;
    padding: 5px 10px 5px 10px;
}

@media screen and (max-width:850px) {
    #boton{
        display: block;
    }
    .menu{
        width: 100%;
        /**height: calc(100vh - 60px);**/
        height: auto;
        background:black;
        position: absolute;
        top: 125px;
        left: -200%;
        transition: all 1s;
        /**overflow: scroll;**/
        z-index: 4;
    }

    .lista{
        flex-direction: column;
    }

    .slide{
        position: relative;
        top: 0;
        display: none;
        width: 100%;
    }

    .slide {
        ul{
        position: relative;
        top: 0;
        left: 0;
        }
    }

    /**a{
        display: block;
        padding: 20px 35px;
    }**/

    .inResponsiveMain{
        display: block;
        padding: 20px 35px;
    }

    .listItem > .slide {
        li {
            a{
        margin-left: 20px;
            }
        }
    }

    .listItem .slide li > ul {
        li {
            a{
        margin-left: 40px;
            }
        }
    }

    .listItem:hover > .slide{
        /*display: none;*/
        visibility: visible;
    }
    .listItem .slide li:hover > ul{
    display: none;
    }
}

@media screen and (max-width:380px) {
    .menu{
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width:360px) {
    .encabezado{
        width: auto;
    }
    .logo__div{
        padding-left: 1px;
        left: 1px;
    }
    .lista{
        padding: 5px;
    }
    .item{
        width: 20px;
        padding: 20px;
    }
    .boton__div{
        padding-left: 30px;
    }
    .item:hover{
        width: 100%;
        padding: 20px;
    }
    .slide li a:hover{
        width: 90%;
    }
    .logo{
        width: 90px;
    }
    .listItem:hover > .slide{
        display: none;
    }
    .listItem .slide li:hover > ul{
        display: none;
    }
    .inResponsiveMain{
        width: 100%;
        border-radius: 30px;
    }
    .inResponsiveMain a{
        border-radius: 30px;
        
    }

}

@media screen and (max-width:480px) {
    .encabezado{
        width: 100%;
    /** border: 5px solid red;**/
        box-shadow: 0px 0px 10px $black;
    }
    .item{
        padding: 20px 5px;
    }
}
