@import "../general/variables";

.cuerpoIndice{
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    height: auto;
}

img {
    height: 2em;
    width: 2em;
    max-width: 100%;
    height: auto;
}

.principalIndice{
/* border:  10px solid red;*/
    background-color: $black;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.rostroMujer{
    width: 75em;
    height: 56.25em;
    max-width: 100%;
    height: auto;
    z-index: 1;
}

.slogan {
    top: 6em;
    position: absolute;
    color: $pink;
    z-index: 5;
    right: 9em;
    font-size: 1.9em;
    border: none;
    background: none;
    z-index: 2;
    font-family: 'Charmonman', cursive;
    animation-name: deslizar;
    animation-duration: 4s;
}

@keyframes deslizar {
    from {
    margin-right: 100%;
    width: 355px;
    }

    to {
    margin-left: 100%;
    width: 355px;
    }
}

/*---------Comienzo Servicios-----------*/

.mainServicios{
    position: relative;
    width: 100%;
    /*width: 1000px;*/
    /*border: 10px solid red;*/
    padding: 50px 0px 100px 0px;
    display: flex;
    flex-wrap: nowrap;
    /*align-items: center;*/
    justify-content: center;
    /*flex-direction: column;*/
}

.tituloServicios{
    width: auto;
    height: 50px;
    padding: 50px 0px 20px 0px;
    /*border: 5px solid black;*/
    text-align: center;
    color: $pink;
}

.ladoIzqServicios{
    /*width: 805px;*/
    width: auto;
    /*border: 10px solid green;*/
    /*padding: 0px 5px 0px 10px;*/
    /*border-right: 2px dotted hotpink;*/
    /*float: left;*/
}

.ladoDerServicios{
    width: 660px;
    /*height: 1600px;*/
    /*border: 10px solid blue;*/
    /*float: right;*/
}

.ladoDerServicios img{
    width: 509px;
    height: 339px;
    position: relative;
    /*left: 2px;*/
    left: 20px;
    top: 60px;
    margin-bottom: 30px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.mainServicios h2{
    font-size: 20px bold;
    background-color: $black;
    position: relative;
    /*margin-left: 150px;*/
    max-width: 600px;
    padding: 0px 0px 30px 0px;
    height: auto;
    color: $pink;
}

.mainServicios h3{
    /*margin-left: 150px; */
    padding: 10px ;
    background-color: $lightpink;
    border: 0px solid $white ;
    border-top-right-radius: 20px;
    max-width: 600px ;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    position: relative;
    height: auto;
    background-image: linear-gradient(to bottom, $hotpink, $pink, $lightpink, $pink, $hotpink) 
}

.mainServicios p {
    position: relative;
    /*margin-left: 150px;*/
    padding: 10px;
    background-color: $lightpink;
    border:  0px solid $white;
    border-bottom-left-radius: 20px;
    max-width: 600px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 30px;
    background-image: linear-gradient($darkgrey, $grey, $lightgrey, $grey, $darkgrey)
}
main {
    background-color: $black;
}

/*----------Fin Servicios---------------*/

/*-----------Comienzo Galeria-------------------*/

.galeria{
    padding: 50px 0px 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

.tituloGaleria{
    padding-bottom: 20px;
    color: $pink;
}

.contenedorGaleria{
    background-color: $hotpink;
    border:  10px solid $hotpink;
    max-width: 100%;
    width: 1000px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    box-shadow: 0 0 30px $black;
    border-radius: 5px;
}

.item{
    background-color: $black;
    border: 5px solid $pink;
    /*min-width: 100px;*/
    min-height: 100px;
    width: 100%;
    border-radius: 5px;
}

.tituloImagenGaleria{
    color: $black;
}

.item:hover{
    transform: scale(1.5);
    transition: all 0.75s;
}

#item1{
    grid-column-start: 1;
    grid-column-end: 3;
    background-image: url(../imagenes/dermopenH.jpg);
    background-size: cover;
    background-position: center;
}

#item2{
    grid-column-start: 3;
    grid-column-end: 4;
    background-image: url(../imagenes/pies2C.jpg);
    background-size: cover;
    background-position: center;
}

#item3{
    grid-column-start: 4;
    grid-column-end: 6;
    background-image: url(../imagenes/piesH.jpg);
    background-size: cover;
    background-position: center;
}

#item4{
    grid-column-start: 1;
    grid-column-end: 2;
    background-image: url(../imagenes/rostroC.jpg);
    background-size: cover;
    background-position: center;
}

#item5{
    grid-column-start: 2;
    grid-column-end: 4;
    background-image: url(../imagenes/rostroHombreH.jpg);
    background-size: cover;
    background-position: center;
}

#item6{
    grid-column-start: 4;
    grid-column-end: 5;
    background-image: url(../imagenes/rostroCofiaC.jpg);
    background-size: cover;
    background-position: center;
}

#item7{
    grid-column-start: 5;
    grid-column-end: 6;
    background-image: url(../imagenes/rostroConBbglowC.jpg);
    background-size: cover;
    background-position: center;
}

#item8{
    grid-column-start: 1;
    grid-column-end: 3;
    background-image: url(../imagenes/uñas3H.jpg);
    background-size: cover;
    background-position: center;
}

#item9{
    grid-column-start: 3;
    grid-column-end: 4;
    background-image: url(../imagenes/uñas2C.jpg);
    background-size: cover;
    background-position: center;
}

#item10{
    grid-column-start: 4;
    grid-column-end: 6;
    background-image: url(../imagenes/uñasH.jpg);
    background-size: cover;
    background-position: center;
}

/*--------Fin Galeria-----------*/

/*-------------Comienzo Sobre Mi-----------------*/

.tituloSobreMi{
    width: auto;
    height: 50px;
    padding: 50px 0px 80px 0px;
    /*border: 5px solid yellow;*/
    text-align: center;
    color: $pink;
}

.mainSobreMi{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px 50px 50px 50px;
    /*border:  5px solid black;*/
}

.contenedorImgVitoria{
    /*border: 5px solid red;*/
    width: 400px;
    min-width: 200px;
    height: auto;
    min-height: 200px;
}

.fotoVitoria{
    width: 400px;
    height: auto;
    border-radius: 5px;
}

.contenedorTextoVitoria{
    width: auto;
    height: auto;
    text-align: justify-all;
    /*border:  5px solid green;*/
    color: $pink;
}
/*-------Fin Sobre Mi-------*/

/*-------Comienzo Contacto---------*/

.cuerpoContacto{
    width: 100%;
    height: auto;
    background-color: $black;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.principalContacto{
    /*border: 10px solid purple;*/
    /*margin-top: 20px;*/
    padding: 50px 20px 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.principalContacto h1{
    padding-bottom: 20px;
    color: $pink;
}

.principalContacto p{
    padding-bottom: 20px;
    color: $pink
}

.formularioDeContacto{
    color: $pink;
    padding: 20px;
    width: 330px;
    border-radius: 10px;
}

input{
    transition: all 1s;
    width: 100%;
    border: 3px solid $pink;
}

.campoFormulario:focus{
    border: 3px solid $pink;
    color: $black;
    transform: scale(1.1);
}

select{
    border: 3px solid $pink;
    width: 100%;
}

textarea{
    width: 100%;
    border: 3px solid $pink;
    color: $black;
}

.botonEnviar{
    background: $pink;
    width: 20%;
}

.botonBorrar{
    background: $pink;
    color: $black;
    width: 30%;
}

/*--------Fin Contacto-------*/
