@import "../general/variables";


body{
    background-color: $black;
}

/*************************MAIN INICIO******************************/

.mainIndex{
    background-color: $black;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.rostroMujer{
    width: 75em;
    height: 56.25em;
    max-width: 100%;
    height: auto;
    z-index: 1;
    margin-top: 15px;
}

.slogan {
    top: 6em;
    position: absolute;
    color: $pink;
    z-index: 5;
    right: 2em;
    font-size: 1.9em;
    border: none;
    background: none;
    z-index: 2;
    font-family: 'Charmonman', cursive;
    animation-name: deslizar;
    animation-duration: 4s;
}

@keyframes deslizar {
    from {
        margin-right: 100%;
        width: 355px;
    }
    
    to {
        margin-left: 100%;
        width: 355px;
    }
}

@media screen and (max-width:1024px){
    .slogan {
        top: 130px;
        position: absolute;
        color: $pink;
        z-index: 5;
        right: 10px;
        font-size: 20px;
        border: none;
        background: none;
        z-index: 2;
        font-family: 'Charmonman', cursive;
        animation-name: deslizar;
        animation-duration: 0.0s;
    }
}

@media screen and (max-width:480px){
    .slogan {
        top: 123px;
        position: absolute;
        color: $pink;
        z-index: 5;
        right: 5px;
        font-size: 15px;
        border: none;
        background: none;
        z-index: 2;
        font-family: 'Charmonman', cursive;
        animation-name: deslizar;
        animation-duration: 0.0s;
    }
}

@media screen and (max-width:360px){
    .slogan{
        width: 120px;
        text-align: right;
        margin-right: 10px;
        font-size: 15px;
    }
}


/************************MAIN SERVICIOS********************************/

.mainServicios{
    background-color: $black;
    width: auto;
    height: auto;
}

.tituloSeccion{
    width: auto;
    height: 60px;
    text-align: center;
    color: $pink;
    padding: 20px 6px 6px 6px;
}

.mainServicios {
    h2{
    font-size: 20px bold;
    position: relative;
    max-width: 600px;
    padding: 0px 0px 30px 0px;
    height: auto;
    color: $pink;
    }
}

.mainServicios {
    h3{
    padding: 10px ;
    background-color: $lightpink;
    border: 0px solid $white ;
    border-top-right-radius: 20px;
    max-width: 600px ;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    height: auto;
    background-image: linear-gradient(to bottom, $hotpink, $pink, $lightpink, $pink, $hotpink); 
    width: 100%;
    box-shadow: 0px 0px 10px $hotpink;
    }
}


.mainServicios {
    p {
    padding: 10px;  
    position: relative;
    background-color: $lightpink;
    border:  0px solid $white;
    border-bottom-left-radius: 20px;
    max-width: 600px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 30px;
    background-image: linear-gradient($darkgrey, $grey, $lightgrey, $grey, $darkgrey);
    width: 100%;
    box-shadow: 0px 0px 10px $hotpink;
    }
}

.ladoDerServicios {
    img{
    width: 27.44em;
    height: 18.25em;
    position: relative;
    top: 75px;
    margin-bottom: 90px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 0px 0px 10px $hotpink;
    }
}

.container .ladoDerServicios{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container .ladoIzqServicios{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width:992px){
    .ladoDerServicios img{
        width: 600px;
        height: 360px;
        top: 10px;
        margin-bottom: 80px;
    }
    .mainServicios h2{
        margin-top: 20px;
    }
}

@media screen and (max-width: 360px){
    .ladoDerServicios img{
        width: 27.44em;
        height: 12.50em;
    }
}

/*******************MAIN GALERIA*******************************/

.mainGaleria{
    background-color: $black;
    width: auto;
    height: auto;
}

.contenedorGaleria{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 150px;
    padding: 50px 100px 50px 100px;
    grid-gap: 40px;
}
.imagenGaleria{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center; 
    /*border: 2px solid hotpink;*/
    border-radius: 30px 0px 30px 0px;
    box-shadow: 0px 0px 30px $hotpink;
}

.ItemGaleria:nth-child(1) {
    grid-row-start: span 3;
}

.ItemGaleria:nth-child(2) {
    grid-row-start: span 2;
}

.ItemGaleria:nth-child(3) {
    grid-row-start: span 3;
}

.ItemGaleria:nth-child(4) {
    grid-row-start: span 2;
}

.ItemGaleria:nth-child(5) {
    grid-row-start: span 3;
}

.ItemGaleria:nth-child(6) {
    grid-row-start: span 3;
}

.ItemGaleria:nth-child(7) {
    grid-row-start: span 2;
}

.ItemGaleria:nth-child(8) {
    grid-row-start: span 3;
}

.ItemGaleria:nth-child(9) {
    grid-row-start: span 3;
}

.ItemGaleria:nth-child(10) {
    grid-row-start: span 3;
}

.ItemGaleria:nth-child(11) {
    grid-row-start: span 3;
}

.ItemGaleria:nth-child(12) {
    grid-row-start: span 2;
}

.ItemGaleria{
    position: relative;
}

.ItemGaleria:hover {
    transform: scale(1.1);
    transition: all 0.75s;
}

.tituloImagen{
    position: absolute;
    bottom: 0px;
    color: $pink;
    background-color: $black;
    width: 100%;
    margin: 0px;
    border-radius: 0px 0px 30px 0px;
    /*border: 2px solid hotpink;*/
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.ItemGaleria {
    h4{
    font-family: 'Montserrat', sans-serif;
    } 
}

@media only screen and (max-width:1024px){
    .contenedorGaleria{
        padding: 50px 50px 50px 50px;
    }
    .contenedorGaleria{
        grid-template-columns: repeat(3, 1fr);
    }
    .ItemGaleria:nth-child(2){
        grid-row-start: span 3;
    }
    .ItemGaleria:nth-child(3){
        grid-row-start: span 3 ;
    }
    .ItemGaleria:nth-child(11){
        grid-column-start: span 2 ;
        grid-row-start: span 3;
    }
}

@media only screen and (max-width:768px){
    .contenedorGaleria{
        grid-template-columns: repeat(2, 1fr);
    }
    .ItemGaleria:nth-child(11) {
        grid-column-start: span 1 ;
        grid-row-start: span 4;
    }
}
@media only screen and (max-width:600px){
    .contenedorGaleria{
        padding: 50px 40px 50px 40px;
    }
    .contenedorGaleria{
        grid-template-columns: repeat(1, 1fr);
    }
    .ItemGaleria:nth-child(3){
        grid-row-start: span 2;    
    }
    .ItemGaleria:nth-child(4){
        grid-row-start: span 3;    
    }
    .ItemGaleria:nth-child(8){
        grid-row-start: span 2;    
    }
}

@media only screen and (max-width:380px){
    .contenedorGaleria{
        padding: 90px 20px 50px 20px;
    }
}

/*****************MAIN SOBRE MI***********************/

.mainSobreMi{
    background-color: $black;
    width: auto;
    height: auto;
    padding-bottom: 20px;
}

.containerSobreMi{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    margin-top: 50px;
    padding: 60px;
    border: 2px solid $hotpink;
    box-shadow: 0px 0px 10px $hotpink;
    border-radius: 0px 20px 0px 20px;
}

.containerSobreMi {
    img{
    width: 250px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    }
}

.containerSobreMi {
    p{
    font-family: 'Montserrat', sans-serif;
    color: $pink;
    text-align: justify;
    }
}

@media only screen and (min-width:517px) and (max-width: 768px){
    .containerSobreMi img{
        width: 240px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 516px){
    .containerSobreMi img{
        width: 290px;
    }
    .containerSobreMi{
        padding: 80px;
    } 
}

@media only screen and (max-width: 480px){
    .containerSobreMi img{
        width: 200px;
    }
}

@media only screen and (min-width: 401px) and (max-width: 440px){
    .containerSobreMi{
        padding: 80px;
    } 
}

@media only screen and (min-width: 440px) and (max-width: 476px){
    .containerSobreMi{
        padding: 30px;
    } 
}

@media only screen and (max-width: 360px){
    .containerSobreMi img{
        width: 230px;
    }
    .containerSobreMi{
        padding: 50px;
    } 
}

@media only screen and (max-width: 320px){
    .containerSobreMi img{
        width: 190px;
    }
    .containerSobreMi{
        padding: 50px;
    } 
}

/*******************MAIN CONTACTO**************************/


.mainContacto {
    width: auto;
    height: auto;
    background-color: $black;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainContacto {
    h1 {
    padding-bottom: 20px;
    color: $pink;
    }
}

.mainContacto {
    p {
    padding-bottom: 10px;
    padding-top: 10px;
    color: $pink;
    font-family:'Montserrat', sans-serif;
    text-align: center;
    }
}

.formularioDeContacto {
    color: $pink;
    padding: 20px;
    width: 330px;
    border-radius: 10px;
    border: 2px solid $hotpink;
    box-shadow: 10px 10px 10px $hotpink;
}

.formularioDeContacto {
    legend{
    text-align: center;
    }
}

.formularioDeContacto {
    label{
    font-family:'Montserrat', sans-serif;
    }
}

.formularioDeContacto {
    option{
    font-family:'Montserrat', sans-serif;
    }
}

.formularioDeContacto {
    select{
    font-family:'Montserrat', sans-serif;
    }
}

input {
    transition: all 1s;
    width: 100%;
    border: 3px solid $pink;
    font-family:'Montserrat', sans-serif;
}

.campoFormulario:focus {
    border: 3px solid $pink;
    color: $black;
    transform: scale(1.1);
}

select {
    border: 3px solid $pink;
    width: 100%;
}

textarea {
    width: 100%;
    border: 3px solid $pink;
    color: $black;
    font-family:'Montserrat', sans-serif;
}

.botonEnviar {
    background: $pink;
    width: 30%;
    font-family: 'Montserrat', sans-serif;
}

.botonBorrar {
    background: $pink;
    color: $black;
    width: 30%;
    font-family: 'Montserrat', sans-serif;
}

.datosContacto {
    pre{
    padding-top: 40px;
    text-align: center;
    }
}

